@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

h1,span,title,p,b{
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
